body {
  padding: 0;
}

ol {
  margin: 40px;
}

li {
  margin-bottom: 20px;
  position: relative;
}

button {
  cursor: pointer;
}

.modal_window{
  height: 100vh;
  width: 100vw;
  background-color: rgb(231, 166, 177);
  position: fixed;
  top: 10px;
  z-index: 100;
}


hr {
  display: block;
  position: absolute;
  size: 10px;
  width: 500px;
  top: 3px;
}